//- index.pug
extends ../../pages/views/page.pug

mixin button(msg, data, label)
  button.button.gpio-button&attributes({ 'data-emit': msg, 'data-data': data })= label

block content
  .uncolored
    #gpio.gpio.flex-wrapper

      #head.flex-block.flex-header
        #header-wrapper.flex-wrapper
          h1#headline.headline.gpio-headline.flex-block.flex-left= module.name

      #gpio-buttons.gpio-buttons.controlButtons.flex-block.flex-center
        .gpio-button-group
          + button('allOff', '[]', 'alle aus')
          + button('allOn', '[]', 'alle an')
          + button('smooth', "{'timeout': 2000}", 'smooth')
        .gpio-button-group
          + button('smooth', "{'group': 'LED', 'timeout': 2000}", 'LED smooth')
          + button('smooth', "{'group': 'RGB_LED', 'timeout': 2000}", 'RGB smooth')

      #gpio-groups.gpio-groups.flex-block.flex-center
        each list, group in items
          div(
            id='group_' + group.replace(/[^A-zA-Z0-9]/, '_'),
            class='gpio-group gpio-group_' + group.replace(/[^A-zA-Z0-9]/, '_')
          )
            h2.gpio-group-headline= group
            .gpio-group-items
              each item, name in list
                .gpio-item(id='item_' + name.replace(/[^A-zA-Z0-9]/, '_'))
                  if item.type == 'LED'
                    include items/led.pug
                  else if item.type == 'RGBLED'
                    include items/rgbled.pug
                  else if item.type == 'Servo'
                    include items/servo.pug
                  else if item.type == 'Button'
                    include items/button.pug
                  else if item.type == 'Sensor'
                    include items/sensor.pug
                  else
                    h3.error= item.type + ' not recognized'
  .row
    .cell
      #elementContainer

append footer
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
  script var socket = io();
  script(src='/js/gpio/gpio.js')
  script(src='/js/gpio/index.js')
